<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>FEBS 权限系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{layui/css/layui.css(t=2)}" media="all">
    <link rel="stylesheet" th:href="@{febs/css/febs.css(t=2)}" media="all">
    <link rel="stylesheet" th:href="@{febs/css/login.css(t=2)}" media="all">
    <link rel="icon" th:href="@{febs/images/favicon.ico}" type="image/x-icon"/>
</head>
<body>
<div id="febs-login" lay-title="两步验证">
    <div class="login-wrap">
        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-col-xs12 layui-col-lg4 layui-col-lg-offset4 febs-tc">
                    <div class="layui-logo"><span><b>FEBS</b> 权限系统</span></div>
                </div>
                <div class="layui-col-xs12 layui-col-lg4 layui-col-lg-offset4" id="login-div">
                    <div class="layui-form" lay-filter="login-form">
                        <div class="layui-anim layui-anim-upbit">
                            <ul class="login-type-tab">
                                <li class="active">请输入两步验证器app显示的验证码：</li>
                            </ul>
                            <div class="normal-login-form">
                                <div class="layui-form-item">
                                    <div class="layui-row">
                                        <label class="layui-icon label-icon layui-icon-vercode"></label>
                                        <input type="text" maxlength="6" name="verifyCode" lay-verify="required"
                                               placeholder="验证码" class="layui-input" autocomplete="off">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <button class="layui-btn layui-btn-normal layui-btn-fluid" lay-submit
                                            lay-filter="2fa-submit" id="2fa-submit">
                                        <i style="display: none"
                                           class="layui-icon layui-icon-loading layui-icon layui-anim layui-anim-rotate layui-anim-loop"></i>
                                        立即登录
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{layui/layui.js}"></script>
<script th:inline="javascript">
    var ctx = [[@{/}]];

        layui.extend({
            validate: './febs/lay/modules/validate'
        }).use(['form', 'layer', 'validate'], function (form, layer) {
            var $ = layui.jquery,
                validate = layui.validate,
                $view = $('#febs-login'),
                type = 'login',
                $loginDiv = $view.find('#login-div'),
                $registDiv = $view.find('#regist-div');

            form.verify(validate);
            form.render();

            //提交登录表单
            form.on('submit(2fa-submit)', function (data) {
                var loading = $(this).find('.layui-icon');
                if (loading.is(":visible")) return;
                loading.show();
                $.post(ctx + '2faVerify', data.field, function (r) {
                    if (r.code === 200) {
                        location.href = ctx + 'index';
                    } else {
                        layer.msg(r.message);
                        loading.hide();
                    }
                });
                return false;
            });

            $view.find('#login-href').on('click', function () {
                resetForm();
                type = 'login';
                $loginDiv.show();
                $registDiv.hide();
            });

            function resetForm() {
                $registDiv.find('input[name="username"]').val('')
                    .end().find('input[name="password"]').val('')
                    .end().find('input[name="passwordB"]').val('');

                $loginDiv.find('input[name="username"]').val('')
                    .end().find('input[name="password"]').val('')
                    .end().find('input[name="verifyCode"]').val('');
            }

            $(document).on('keydown', function (e) {
                if (e.keyCode === 13) {
                    if (type === 'login')
                        $view.find('#login').trigger("click");
                    if (type === 'regist')
                        $view.find('#regist').trigger("click");
                }
            });
        });
</script>
</body>
</html>